body{
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    height: 100vh;
    width: auto;
}

form{
    margin: 4%;
}

form button{
    margin-top: 4%;
}